.search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    position: absolute;
    right: 15px;
    z-index: 2;
}

.placeholder {
    height: 150px;
    width: 100%;
}

#recipes article {
    width: 33%;
}

.recipe-card {
    background-color: #f8f9fb;
    border-radius: 10px;
    min-width: 30%;
    max-width: 30%;
    cursor: pointer;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
}

.card-title {
    max-height: fit-content;
    font-size: 0.8rem;
}

.card-content {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 150px;
}

.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.bg-green {
    background-color: #00dca9!important;
}

.bg-red {
    background-color: #ff5a47!important;
}

.description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding-right: 1em;
    margin: 0 -1em -2rem 0.5rem;
}

#recipes li span {
    margin: 0 0 0 10px;
}

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.sub-search__taglist {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    max-height: 400px;
    overflow: hidden;
    padding-left: 0;
    margin: -0.5rem 0 0 0;
    padding: 0;
}

.dropdown-item {
    width: 33%!important;
    color: white!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#sub-search__Ingrédient,
.Ingrédient,
#sub-search__Ingrédient>.sub-search__button>input,
#sub-search__Ingrédient>.sub-search__button>input::placeholder {
    color: white!important;
    background-color: #007bff!important;
}

#sub-search__Appareils,
.Appareils,
#sub-search__Appareils>.sub-search__button>input,
#sub-search__Appareils>.sub-search__button>input::placeholder {
    color: white!important;
    background-color: #00dca9!important;
}

#sub-search__Ustensiles,
.Ustensiles,
#sub-search__Ustensiles>.sub-search__button>input,
#sub-search__Ustensiles>.sub-search__button>input::placeholder {
    color: white!important;
    background-color: #ff5a47!important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: white!important;
    color: black!important;
    cursor: pointer;
}

.dropdown-item:active {
    background-color: #f8f9fb5e!important;
}

#sub-searchs {
    margin-right: auto;
}

.fa-solid {
    cursor: pointer;
}