.search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 21px;
    position: absolute;
    right: 15px;
    z-index: 2;
}

.placeholder {
    height: 150px;
    width: 100%;
}

#recipes article {
    width: 33%;
}

#recipes li span {
    margin: 0 0 0 10px;
}

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}